<p>Date and Time:</p> <%= @datetime %><br>
<%= image_tag @timeimg, :class => "img" %>


<p>Month: </p><%= @monthname %><br />
<%= image_tag @monthimg, :class => "img" %>

----- Layout code in app/views/layouts/application.html.erb ------------------------

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
<title><%= @title %>
<%= stylesheet_link_tag "application" %>

<body>
<h2><%= @title %></h2>
yield
</body>
</html>
