<p id="notice"><%= notice %></p>

<p>
  <strong>Athlete name:</strong>
  <%= @olumpicmedal.athlete_name %>
</p>

<p>
  <strong>Event:</strong>
  <%= @olumpicmedal.event %>
</p>

<p>
  <strong>Country:</strong>
  <%= @olumpicmedal.country %>
</p>

<p>
  <strong>Medal type:</strong>
  <%= @olumpicmedal.medal_type %>
</p>

<p>
  <strong>Event date:</strong>
  <%= @olumpicmedal.event_date %>
</p>

<%= link_to 'Edit', edit_olumpicmedal_path(@olumpicmedal) %> |
<%= link_to 'Back', olumpicmedals_path %>
